body{
    text-align:center;
	width:90%;
	margin: 15px auto;
}

footer li{
	display: inline-block;
	list-style:none;
}




nav li{
	display: inline-block;
}

nav li a:hover {
	color: #ABB6C1;
}

nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: #143567;
	text-shadow: 0 3px 0 white;
}

#INICIO {
	font-size: 30px;
	height:350px;
	margin: 1px 1px 1px 1px;
	padding: 30px;
}

#NOSOTROS {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#CONTACTO {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#DESTINOS {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#COSTOS {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#GALERIA {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

